
	<div class="navbar navbar-fixed-top navbar-bold" data-spy="affix" data-offset-top="1000">
	  <div class="container">
	    <div class="navbar-header">
	      <a href="#" class="navbar-brand">Home</a>
	      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	    </div>
	    <div class="navbar-collapse collapse" id="navbar">
	      <ul class="nav navbar-nav">
	        <li><a href="#sec1">What we do</a></li>
	        <li><a href="#sec2">Features</a></li>
	        <li><a href="#sec3">Team</a></li>
	      </ul>
	    </div>
	   </div>
	</div>

	<div class="header vert">
	  <div class="container">

	    <h1>Moocs.us</h1>
	      <p class="lead">A front page for your knowledge</p>
	      <div>&nbsp;</div>
	      <div class = "text-center get-started"><a href="/#!/create" ui-route="create" class="btn btn-default btn-lg">Get started</a></div>
	  </div>
		<div class="copyright"> * <a href = "https://www.flickr.com/photos/christoph_koch/4895511480/"> Picture </a> (cropped) © Christoph Koch <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></div>
	</div>

	<div id="sec1" class="blurb">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <h1>Tell us what you saw, we'll tell you what you know.</h1>
	        <p class="lead">Just tell which MOOCS (coursera, udaycity, youtube) you watched, and get an awesome profile page which summarizes your knowledge with nice graphs. You can then share it with your friends or future employers.</p>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="featurette" id="sec2">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <h1>Awesome graphs for an awesome mind</h1>
					<p class="start"><a href="/#!/create" ui-route="create" class="btn btn-default btn-lg">Get your knowledge map !</a></p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-2 col-md-offset-2 text-center">
	        <div class="featurette-item">
	          <i class="fa fa-bolt"></i>
	          <h4>Smart</h4>
	          <p>Use state-of-the art machine learning techniques to automatically understand and process what your professors taught you.</p>
	        </div>
	      </div>
	      <div class="col-md-2 text-center">
	        <div class="featurette-item">
	          <i class="fa fa-pie-chart"></i>
	          <h4>Beautiful</h4>
	          <p>A front page for your knowledge. Awesome graphs for an awesome mind. Generate your MOOCS knowledge page in seconds using our interface.</p>
	        </div>
	      </div>
	      <div class="col-md-2 text-center">
	        <div class="featurette-item">
	          <i class="fa fa-globe"></i>
	          <h4>Universal</h4>
	          <p>Works with any MOOCS from Coursera, Udacity. No additional information is needed, we work directly by analysing the subtitles.</p>
	        </div>
	      </div>
	      <div class="col-md-2 text-center">
	        <div class="featurette-item">
	          <i class="fa fa-bullhorn"></i>
	          <h4>Social</h4>
	          <p>Share your profile with your friends, your potential employers ... Students, don't spend hours to build your resume, we do it for you.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="callout" id="sec3">
	  <div class="container">
	    <div class="col-md-12 text-center"><h2>The dream team</h2></div>
	    <div class="col-md-12 text-center">&nbsp;</div>
	    <div class="col-md-8 col-md-offset-2 text-center">
	      <div class="row">
	       <div class="col-md-4"><img class="img-circle grayscale" src="modules/core/img/daniela.jpg">  <p>Daniela Gerz</p></div>
	       <div class="col-md-4"><a href="http://cholleton.ch" class="neutral-white"><img class="img-circle grayscale" src="modules/core/img/aubry.jpg">  <p>Aubry Cholleton</p></div></a>
	       <div class="col-md-4"><img class="img-circle grayscale" src="modules/core/img/matteo.jpg">  <p>Matteo Pagliardini</p></div>
	      </div>
	    </div>
	  </div>
	</div>

	<footer>
	  <div class="container">
	    <div class="row">
	      <div class="col-md-6 col-md-offset-3 text-center">
	        <ul class="list-inline">
	          <li><a href="https://github.com/NLPHackers/moocs-app" class="neutral-black"><i class="fa fa-github fa-3x"></i></a></li>
	        </ul>
	        <hr>
	        <h3>Built with <i class="fa fa-heart"></i> at AFT hackathon Leuven </h3>
					<h3><em>"Most promising Hack"</em> award</h3>
					<p> using <a href="https://nodejs.org/">NodeJS</a>, <a href="http://expressjs.com/">Express</a>, <a href="https://angularjs.org/">AngularJS</a>, <a href="https://www.mongodb.org/">MongoDB</a>, <a href="http://d3js.org/">D3.js</a>, <a href="http://getbootstrap.com/">Bootstrap</a> (<a href="http://www.bootstrapzero.com/bootstrap-template/greenfield">Greenfield Template</a>), <a href="http://gruntjs.com/">Grunt</a>, <a href="http://mallet.cs.umass.edu/">MALLET</a>...
					<br />*<a href = "https://www.flickr.com/photos/christoph_koch/4895511480/"> Cover picture </a> (cropped) © Christoph Koch <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></p>
					<p>Copyright © Aubry Cholleton, Daniela Gerz, Matteo Pagliardini</p>
	      </div>
	    </div>
	  </div>
	</footer>

	<ul class="nav pull-right scroll-down">
	  <li><a href="#" title="Scroll down"><i class="fa fa-arrow-down"></i></a></li>
	</ul>
	<ul class="nav pull-right scroll-top">
	  <li><a href="#" title="Scroll to top"><i class="fa fa-arrow-up"></i></a></li>
	</ul>
