
	<div class="navbar navbar-fixed-top navbar-bold" data-spy="affix" data-offset-top="1000">
	  <div class="container">
	    <div class="navbar-header">
	      <a href="/#!/" class="navbar-brand">Back to Home</a>
	      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	    </div>
	    <div class="navbar-collapse collapse" id="navbar">
	      <ul class="nav navbar-nav">
	        <li><a href="#sec1">Information</a></li>
	        <li><a href="#sec2">Form</a></li>
	      </ul>
	    </div>
	   </div>
	</div>
  <div data-ng-controller="ProfilesController">
	<div id="sec1" class="blurb">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <h1>Time to talk about you {{profile.name}}</h1>
	        <p class="lead">Tell us a bit more about yourself and which classes you attented recently. These informations will stay confidential. Provide what you want.</p>
	      </div>
	    </div>
	  </div>
	</div>

	<script type="text/ng-template" id="customTemplate.html">
	  <a>
	      <img ng-src="{{match.model.image}}" width="80">
	      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
	  </a>
	</script>
	<div class="featurette" id="sec2">
	  <div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form class="form-horizontal" data-ng-submit="create()" >
						<div class="form-group">
							<label for="name"><i class="fa fa-user form-icon"></i>Full name *</label>
							<input type="text" class="form-control" ng-model="profile.name" id="exampleInputEmail1" placeholder="Jon Snow">
						</div>
						<div class="form-group">
							<label class="courses-label"><i class="fa fa-home form-icon"></i>Courses I followed *</label>
							<div class="input-group">
								<input type="text" ng-model="selectedCourse" placeholder="Artificial Intelligence" typeahead="course as course.name for course in courses | filter:{name:$viewValue}  | limitTo:4" typeahead-template-url="customTemplate.html" class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="addCourse(selectedCourse)">Add</button>
								</span>
							</div>
						</div>
						<table class="table table-striped" ng-show = "profile.courses.length > 0">
							<thead>
					      <tr>
					        <th>My courses</th>
									<th>Remove</th>
					      </tr>
					    </thead>
							<tbody>
								<tr ng-repeat="course in profile.courses">
        					<td>{{course.name}}</td>
									<td class="text-center" ng-click="removeCourse(course)"><i class="fa fa-times"></i></td>
								</tr>
							</tbody>
						</table>
					  <div class="form-group">
					    <label for="email"><i class="fa fa-envelope-o form-icon"></i>Email address</label>
					    <input type="email" class="form-control" ng-model="profile.email" id="exampleInputEmail1" placeholder="jon@snow.us">
					  </div>
						<div class="form-group">
					  	<label for="about"><i class="fa fa-comment-o form-icon"></i>About you</label>
					  	<textarea class="form-control"  ng-model="profile.about" rows="5" id="comment" placeholder="I'm Jon Snow and I know nothing."></textarea>
						</div>
						<div class="form-group">
							<label><i class="fa fa-home form-icon"></i>Address</label>
							<input class="form-control" ng-model="profile.address" data-animation="am-flip-x" typeahead="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" placeholder="Winterfell" typeahead-on-select="onSelect($item)" type="text">
						</div>
						<div class="form-group">
							<div class="checkbox">
						    <label>
						      <input type="checkbox"> I agree that these data will be stored during one year.
						    </label>
						  </div>
						</div>
						<div class="form-group">
					    <div class="alert alert-danger"  ng-show="error">
					        <a href="#" class="close" data-dismiss="alert">&times;</a>
					        <strong>Error!</strong> A problem has been occurred while submitting your data.
					    </div>
							<div class="alert alert-info"  ng-if="profile.courses.length == 0">
								You need to add at least one course to proceed !
							</div>
						  <button type="submit" class="btn btn-default" ng-if="profile.courses.length > 0">Get my profile !</button>
					</div>
					</form>
				</div>
			</div>
	  </div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<ul class="list-inline">
					<li><a href="https://github.com/NLPHackers/moocs-app" class="neutral-black"><i class="fa fa-github fa-3x"></i></a></li>
				</ul>
				<hr>
				<h3>Built with <i class="fa fa-heart"></i> at AFT hackathon Leuven </h3>
				<h3><em>"Most promising Hack"</em> award</h3>
				<p> using <a href="https://nodejs.org/">NodeJS</a>, <a href="http://expressjs.com/">Express</a>, <a href="https://angularjs.org/">AngularJS</a>, <a href="https://www.mongodb.org/">MongoDB</a>, <a href="http://d3js.org/">D3.js</a>, <a href="http://getbootstrap.com/">Bootstrap</a> (<a href="http://www.bootstrapzero.com/bootstrap-template/greenfield">Greenfield Template</a>), <a href="http://gruntjs.com/">Grunt</a>, <a href="http://mallet.cs.umass.edu/">MALLET</a>...
				<p>Copyright © Aubry Cholleton, Daniela Gerz, Matteo Pagliardini</p>
			</div>
		</div>
	</div>
</footer>

	<ul class="nav pull-right scroll-down">
	  <li><a href="#" title="Scroll down"><i class="fa fa-arrow-down"></i></a></li>
	</ul>
	<ul class="nav pull-right scroll-top">
	  <li><a href="#" title="Scroll to top"><i class="fa fa-arrow-up"></i></a></li>
	</ul>
