
	<div class="navbar navbar-fixed-top navbar-bold" data-spy="affix" data-offset-top="1000">
	  <div class="container">
	    <div class="navbar-header">
	      <a href="/#!/" class="navbar-brand">by Moocs.us</a>
	      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      </a>
	    </div>
	    <div class="navbar-collapse collapse" id="navbar">
	      <ul class="nav navbar-nav">
	      </ul>
	    </div>
	   </div>
	</div>
  <div data-ng-controller="ProfilesController" data-ng-init="findProfile()">
	<div id="sec1" class="blurb">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <h1>{{profile.name}}</h1>
					<div class="alert alert-info col-md-6 col-md-offset-3 text-center"><i class="fa fa-share"></i> {{url}}</div>
					<h2>{{profile.email}}</h2>
	        <p class="lead">{{profile.about}}</p>
	      </div>
				    </div>
			<div class="text-center">
				<h3>I know about ...</h3>
				<nvd3 options="options" data="data"></nvd3>
				<h3>Filter by field ...</h3>
				<div class="btn-group">
					<label ng-repeat="category in categories" class="btn btn-default" ng-model="$parent.currentCategory" btn-radio="category" />{{category}}</label>
				</div>
				<h3>Or click on the graph to get topic details ...</h3>
				<nvd3 options="optionstopic" data="datatopic"></nvd3>
			</div>
	  </div>
	</div>
	<footer>
	  <div class="container">
	    <div class="row">
	      <div class="col-md-6 col-md-offset-3 text-center">
	        <ul class="list-inline">
	          <li><i class="icon-facebook icon-2x"></i></li>
	          <li><i class="icon-twitter icon-2x"></i></li>
	          <li><i class="icon-google-plus icon-2x"></i></li>
	          <li><i class="icon-pinterest icon-2x"></i></li>
	        </ul>
	        <hr>
	        <p>Built with <i class="fa fa-heart"></i> at AFT hackathon Leuven</p>
					<p> using NodeJS, Express, AngularJS, MongoDB, Bootstrap ...
	      </div>
	    </div>
	  </div>
	</footer>

	<ul class="nav pull-right scroll-down">
	  <li><a href="#" title="Scroll down"><i class="fa fa-arrow-down"></i></a></li>
	</ul>
	<ul class="nav pull-right scroll-top">
	  <li><a href="#" title="Scroll to top"><i class="fa fa-arrow-up"></i></a></li>
	</ul>
