
	<div class="navbar navbar-fixed-top navbar-bold" data-spy="affix" data-offset-top="1000">
	  <div class="container">
	    <div class="navbar-header">
	      <a href="/#!/" class="navbar-brand">by Moocs.us</a>
	      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      </a>
	    </div>
	    <div class="navbar-collapse collapse" id="navbar">
	      <ul class="nav navbar-nav">
	      </ul>
	    </div>
	   </div>
	</div>
  <div data-ng-controller="ProfilesController" data-ng-init="findProfile()">
	<div id="sec1" class="blurb">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <h1>{{profile.name}}</h1>
					<div class="alert alert-info col-md-6 col-md-offset-3 text-center"><i class="fa fa-share"></i> {{url}}</div>
					<h2>{{profile.email}}</h2>
	        <p class="lead">{{profile.about}}</p>
	      </div>
				    </div>
			<div class="text-center">
				<h3>I know about ...</h3>
				<nvd3 options="options" data="data"></nvd3>
				<h3>Filter by field ...</h3>
				<div class="btn-group">
					<label ng-repeat="category in categories" class="btn btn-default" ng-model="$parent.currentCategory" btn-radio="category" />{{category}}</label>
				</div>
				<h3>Or click on the graph to get topic details ...</h3>
				<nvd3 options="optionstopic" data="datatopic"></nvd3>
			</div>
	  </div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<ul class="list-inline">
						<li><a href="https://github.com/NLPHackers/moocs-app" class="neutral-black"><i class="fa fa-github fa-3x"></i></a></li>
					</ul>
					<hr>
					<h3>Built with <i class="fa fa-heart"></i> at AFT hackathon Leuven </h3>
					<h3><em>"Most promising Hack"</em> award</h3>
					<p> using <a href="https://nodejs.org/">NodeJS</a>, <a href="http://expressjs.com/">Express</a>, <a href="https://angularjs.org/">AngularJS</a>, <a href="https://www.mongodb.org/">MongoDB</a>, <a href="http://d3js.org/">D3.js</a>, <a href="http://getbootstrap.com/">Bootstrap</a> (<a href="http://www.bootstrapzero.com/bootstrap-template/greenfield">Greenfield Template</a>), <a href="http://gruntjs.com/">Grunt</a>, <a href="http://mallet.cs.umass.edu/">MALLET</a>...
					<p>Copyright © Aubry Cholleton, Daniela Gerz, Matteo Pagliardini</p>
				</div>
			</div>
		</div>
	</footer>

	<ul class="nav pull-right scroll-down">
	  <li><a href="#" title="Scroll down"><i class="fa fa-arrow-down"></i></a></li>
	</ul>
	<ul class="nav pull-right scroll-top">
	  <li><a href="#" title="Scroll to top"><i class="fa fa-arrow-up"></i></a></li>
	</ul>
